<div class="card publications mt-5 mb-5">
  <div class="card-header border-bottom-0 font-weight-bold bg-transparent">Comentarios</div>
  <ul class="list-group list-group-flush">
    <% @section.publications.each do |publication| %>
      <li class="list-group-item">
        <header class="publication-header"><strong><%= publication.user.email %></strong> wrote <%= distance_of_time_in_words(Time.current, comment.created_at) %> ago</header>
        <div class="publication-texto"><%= publication.texto %></div>
      </li>
    <% end %>

    <% if @section.publications.empty? %>
      <li class="list-group-item text-center">Aún no hay comentarios para este libro :(</li>
    <% end %>
  </ul>
</div>

<% if signed_in? %>
  <div class="card bg-light new-publication">
    <div class="card-texto">
      <p class="font-weight-bold">Deja tu comentario:</p>
      <%= form_for @section.publications.build do |f| %>
        <%= f.hidden_field :section_id, value: @section.id %>
        <div class="form-group">
          <%= f.text_area :texto, rows: 4, class: "form-control" %>
        </div>

        <div class="text-right">
          <%= f.submit "Comentar", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="card bg-light mt-5">
    <div class="card-texto">
      <p class="card-text text-center lead"><%= link_to "Regístrate", new_user_registration_path %> o <%= link_to "Ingresa", new_user_session_path %> para comentar</p>
    </div>
  </div>
<% end %>